div.recipe-list-container {
  background: #eee;
  margin-bottom: 1em;
  padding: 1em;
}
div.recipe-list-container a {
  text-decoration: none;
  color: #333;
  font-size: 2em;
  font-weight: bold;
}
div.recipe-list-container a:hover {
  text-decoration: underline;
}
div.recipe-list-container img {
  display: inline-block;
}
#top-background {
  padding-top: 1em;
  background-image: url(/app/img/Green-Light-plain-line-background-1280x960.jpg);
  margin-bottom: 1em;
}
.navbar-inner {
  opacity: 0.8;
}
.navbar-inner:hover {
  opacity: 1;
}
