div.recipe-list-container {
	background:#eee;
	margin-bottom:1em;
	padding:1em;

	a {
		text-decoration: none;
		color:#333;
		font-size: 2em;
		font-weight: bold;
	}
	a:hover {
		text-decoration: underline;
	}

	img {
		display:inline-block;
	}
}

#top-background {
	padding-top:1em;
	// background: #160 url(/app/img/recsam.jpg);

	background-image: url(/app/img/Green-Light-plain-line-background-1280x960.jpg);
	margin-bottom:1em;
}

.navbar-inner {
	opacity: 0.8;
}

.navbar-inner:hover {
	opacity: 1;
}
.star {
	width:25px;	height: 25px;
	cursor: pointer;
	background-repeat: no-repeat;
	padding-right: .2em;
	display: inline-block;
}
.selected {
	background-image: url(/app/img/glyphicons_049_star.png);
}
.unselected {
	background-image: url(/app/img/glyphicons_048_dislikes.png);
}
