<div class="container">
    <div ng-include  src="'partials/template-message.htm'"></div>

    <form id="recipeFrm">
		<fieldset>
		  <legend style="width:100%">
		  		<div style="width:100%">Matsedel</div>
		    </legend>
			<div class="row-fluid">
			    <div class="span12">
			      <label>Antal rätter</label>
			      <div id="sliderCourses"></div>{{noOfCourses}}
			    </div>
			</div>
			<div class="row-fluid">
			    <div class="span12">
			      <label>Taggar som ska ingå i Recept 1</label>
			      <input type="text" name="recipeTagsTemplate1" id="recipeTagsTemplate1" placeholder="Taggar" class="tagManager"/>
			    </div>
			</div>
			<div class="row-fluid">
			    <div class="span12">
			      <label>Taggar som ska ingå i Recept 2</label>
			      <input type="text" name="recipeTagsTemplate2" id="recipeTagsTemplate2" placeholder="Taggar" class="tagManager"/>
			    </div>
			</div>
			<div class="row-fluid">
			    <div class="span12">
			      <label>Taggar som ska ingå i alla recept</label>
			      <input type="text" name="recipeTagsTemplate3" id="recipeTagsTemplate3" placeholder="Taggar" class="tagManager"/>
			    </div>
			</div>
			<div class="row-fluid">
			    <div class="span12">
			      <label>Taggar som <strong>inte</strong> får ingå något recept</label>
			      <input type="text" name="recipeTagsTemplate4" id="recipeTagsTemplate4" placeholder="Taggar" class="tagManager"/>
			    </div>
			</div>
  		</fieldset>
	</form>
</div>
