<div class="container">
	<div ng-include  src="'partials/template-message.htm'"></div>

	<form id="recipeFrm">
		<fieldset>
			<legend style="width:100%">
				<div style="width:100%">Skapa en matsedel</div>
			</legend>
			<div class="row-fluid">
				<div class="span12">
					<p style="color:#777">Välj hur många rätter som skall ingå i din matsedel. Fyll därefter i ytterligare kriterier innan du väljer &quot;Skapa matsedel&quot;. Skapa sedan en en inköpslista för matsedeln.</p>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span4">
					<label>Antal</label>
					<select ng-model="noOfMeals" ng-change="changeNumberOfMeals()">
						<option value="1">1 recept</option>
						<option value="2">2 recept</option>
						<option value="3">3 recept</option>
						<option value="4">4 recept</option>
						<option value="5">5 recept</option>
						<option value="6">6 recept</option>
						<option value="7">7 recept</option>
						<option value="8">8 recept</option>
						<option value="9">9 recept</option>
						<option value="10">10 recept</option>
					</select>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<label>Inkludera recept med </label>
					<select ng-model="rating">
						<option value="0">med eller utan stjärnor</option>
						<option value="1">1 stjärna eller fler</option>
						<option value="2">2 stjärnor eller fler</option>
						<option value="3">3 stjärnor eller fler</option>
						<option value="4">4 stjärnor eller fler</option>
						<option value="5">5 stjärnor eller fler</option>
					</select>
					<hr>
				</div>
			</div>


			<div>
				<div class="row-fluid">
					<div class="span4">
						<label>Taggar som ska ingå i <strong>alla</strong> recept</label>
					</div>
					<div class="span6">
						<tagmanager tags="tagsInAllRecipes" selectable="selectableTags" inputid="sel_all"></tagmanager>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<a ng-click="advancedOptions()" ng-hide="showAdvancedOptions">Lägg till fler villkor för taggar som ska ingå i recept</a>
					<a ng-click="hideAdvancedOptions()" ng-show="showAdvancedOptions">Dölj fler villkor</a>
				</div>
			</div>

			<div ng-show="showAdvancedOptions">
				<div class="row-fluid">
					<div class="span4">
						<label>Taggar som <strong>inte</strong> ska ingå i något recept</label>
					</div>
					<div class="span6">
						<tagmanager tags="tagsInNoRecipes" selectable="selectableTags" inputid="sel_none"></tagmanager>
					</div>
				</div>
			</div>

			<div ng-repeat="selection in selectionsPerRecipe" class="row-fluid message in" ng-show="showAdvancedOptions">
				<div class="span4">
					Taggar som ska ingå i <strong>recept {{selection.no}}</strong>
				</div>
				<div class="span6">
					<tagmanager tags="selection.tags" selectable="selection.selectable" inputid="{{selection.id}}"></tagmanager>
				</div>
			</div>

			<button class="btn btn-large" ng-click="createMenu()">Skapa matsedel</button>
		</fieldset>
	</form>
</div>
