<div class="container">
    <div ng-include src="template.first"></div>
    <div ng-include  src="'partials/template-message.htm'"></div>

    <form id="recipeFrm">
		<fieldset>
		  <legend style="width:100%"><div style="width:100%">Nytt recept 

		  	<button style="float:right;margin-left:.3em" type="submit" class="btn btn-primary" ng-click="save(recipe)">Spara</button>

		    <a style="float:right;margin-left:.3em" href="#createFromUrlDlg" role="button" class="btn" data-toggle="modal">Skapa från webbsida</a>
		    </div></legend>
		  
		  <div class="row-fluid">
		    <div class="span12">
		      <label>Namn på recept</label>
		      <input type="text" name="name" class="input-xxlarge" ng-model="recipe.name" required>
		      <span class="error" ng-show="recipeFrm.name.$error.required">
	          Required!</span>
		    </div>
		  </div>
		  <div class="row-fluid">
		    
		    <div class="span4">
		      <label>Ingredienser</label>
		      <textarea rows="20"  ng-model="recipe.ingredients"></textarea>
		    </div>


		    <div class="span8">

		      <label for="appendedInput-1">Portioner</label>
		      <div class="input-append">
		        <input class="span2" id="appendedInput-1" type="text" placeholder="Antal" ng-model="recipe.servingNo" size="36">
		        <span class="add-on">portioner</span>
		      </div>

		      <label for="appendedInput-2">Tillagningstid</label>
		      <div class="input-append">
		        <input class="span2" id="appendedInput-2" type="text" placeholder="Antal" ng-model="recipe.cookingMinutes" size="36">
		        <span class="add-on">minuter</span>
		      </div>
		      
		      <label for="recipeSource">Källa</label>
		      <input id="recipeSource" type="text" class="input-xlarge" ng-model="recipe.pageUrl">

		      <label>Beskrivning</label>
		      <textarea rows="11" style="width:100%"  ng-model="recipe.description"></textarea>
		      <input type="text" name="tags" placeholder="Tags" class="tagManager"/>
		    </div>
		  </div>
		</fieldset>
	</form>
</div>

<div id="push"></div>




<!-- Modal -->
<div id="createFromUrlDlg" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Skapa recept från webbsida</h3>
  </div>
  <div class="modal-body">
    <p>Ange adress till den webbsida där du hittat ett bra recept. Om möjligt kommer receptet att hämtas och fälten fylls i automatiskt.</p>
    <input id="recipeSource" type="text" placeholder="Adress till webbsida med recept" class="input-xxlarge">
    <span id="createFromUrlProgress" style="visibility:hidden">
    <div class="progress progress-striped active">
      <div class="bar" style="width: 40%;"></div>
    </div>
  </span>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Avbryt</button>
    <button class="btn btn-primary" onclick="$('#createFromUrlProgress').css('visibility', 'hidden')">Hämta recept</button>
  </div>
  
</div>

<div id="footer">
  <div class="container">
    <p class="muted credit">Swooboo</p>
  </div>
</div>

