

	<!-- - - - - - - - - - - - - -  Begin page content - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>{{recipe.name}}</h2>
			</div>
			<div class="col-md-4" style="padding-top:1em">
				<div class="btn-group">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-shopping-cart"></span>	Lägg till shopping-lista
					</button>
						<button type="button" class="btn btn-default" href="#/edit-recipe/{{recipe.id}}">
							<span class="glyphicon glyphicon-pencil"> Ändra
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<p><strong>Ingredienser</strong></p>
				<div id="ingredientsDiv" class="well" style="max-width: 400px; margin: 0 auto .2em" ng-bind-html-unsafe="recipe.ingredients">
					<!-- <a id="ingredientsShoppingIcon" style="float:right;position:relative;top:-12px;left:11px" href="#" onclick="$('#ingredientsDiv').attr('contentEditable',true).css('background-color','white');"><i class="icon-shopping-cart"></i></a> -->
					
				</div>
			</div>

			<div class="col-md-8">
				<p><strong>Portioner:</strong> {{recipe.servingNo}}</p>
				<p><strong>Tillagningstid:</strong> {{recipe.cookingMinutes}}</p>
				<p><strong>Källa:</strong> <span page-url-as-html page-url="recipe.pageUrl"></span>
				<p><strong>Beskrivning</strong></p>
				<div id="ingredientsDiv" class="well" style=" max-width: 720px; margin: 0 auto .2em" ng-bind-html-unsafe="recipe.description"></div>
				<p><strong style="float:left;padding-top:6px">Taggar:&nbsp;&nbsp;</strong>
					<input type="text" name="recipeTags" id="recipeTags"/>
				</p>
			</div>

		</div>

		<div id="push"></div>
	</div>



<script type="text/javascript">
$('#ingredientsShoppingIcon').tooltip(
	{title:'Lägg ingredienser till shopping-lista', placement:'bottom', trigger:'hover'})

</script>  


