<div id="wrap">

  <!-- Begin page content -->
  <div class="container">

    <div class="hero-unit">
      <h1>Välkommen</h1>
      <p>Du har 14 recept</p>
      <div class="input-append">
        <input class="span2" id="appendedInputButton" type="text">
        <button class="btn" type="button">Sök</button>
      </div>

      <p>
        <br>
        <a class="btn btn-primary btn-large">
          Skapa fler recept
        </a>
        <a class="btn btn-large">
          Skapa en matsedel
        </a>
      </p>
    </div>

    <div class="thumbnail" style="background:#eee; margin-bottom:1em">
      <h2 style="cursor:pointer" onclick="window.location='receptsamla-recept-view.htm'">Mango chutney kyckling</h2>
      <p style="cursor:pointer" onclick="window.location='receptsamla-recept-view.htm'">30 min tillagningstid<span style="color:#999">, 7 ingredienser</span></p>

      <div class="row-fluid">
        <div class="row-fluid">
          <div class="span10">
            <img src="img/glyphicons_049_star.png" style="display:inline-block">
            <img src="img/glyphicons_049_star.png" style="display:inline-block">
            <img src="img/glyphicons_049_star.png" style="display:inline-block">
            <img src="img/glyphicons_048_dislikes.png" style="display:inline-block">
            <img src="img/glyphicons_048_dislikes.png" style="display:inline-block">
          </div>
          <div class="span2" style="text-align:right"><img src="img/glyphicons_202_shopping_cart.png" style="display:inline-block"></div>
        </div>
      </div>
    </div>
    <div class="thumbnail" style="background:#eee; margin-bottom:1em;cursor:pointer" onclick="window.location='receptsamla-recept-view.htm'">
      <h2 style="cursor:pointer" onclick="window.location='receptsamla-recept-view.htm'">Pangkaka</h2>
      <p style="cursor:pointer" onclick="window.location='receptsamla-recept-view.htm'">20 min tillagningstid<span style="color:#999">, 4 ingredienser</span></p>
      <div class="row-fluid">
        <div class="row-fluid">
          <div class="span10">
            <img src="img/glyphicons_049_star.png" style="display:inline-block">
            <img src="img/glyphicons_049_star.png" style="display:inline-block">
            <img src="img/glyphicons_049_star.png" style="display:inline-block">
            <img src="img/glyphicons_049_star.png" style="display:inline-block">
            <img src="img/glyphicons_049_star.png" style="display:inline-block">
          </div>
          <div class="span2" style="text-align:right"><img src="img/glyphicons_202_shopping_cart.png" style="display:inline-block"></div>
        </div>
      </div>
    </div>

  </div>