<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h1>Använd dina recept för att skapa en matsedel</h1>
  <p>Om du vill skapa en matsedel automatiskt så använd nedanstående sökkriterier för att ange utifrån vilka kriterier matsedeln skall slumpas.
      <ol>
        <li>Ange hur många recept som skall ingå i din matsedel (1-10 dagar)</li>
        <li>Ange taggar, som &quot;vardag&quot; eller &quot;fisk&quot; om ska eller inte ska ingå.</li>
      </ol>
  </p>
</div>